{% extends 'base.html' %}

{% block title %}
Organizator Update {{ object.name }} {{ object.surname }}
{% endblock %}

{% block main %}    
<div class="info-box">
    <i class="icon-adult"></i>
    <p>{{ object.name }} {{ object.surname }}</p>
    <button class="info-button" type="submit" value="Save" form="edit">Save</button>
    <a href="#"><button class="info-button">Delete</button></a>
    <a href="../"><button class="info-button">Back</button></a>
</div>
<div class="edit-box">
    <form method="POST" id="edit"> {% csrf_token %}
        
        <p><b><label for="name">Name</label></b> {{ form.name }}</p>
        <p><b><label for="surname">Surname</label></b> {{ form.surname }}</p>
        <p><b><label for="age">Age</label></b> {{ form.age }}</p>
    
    </form>
</div>  
{% endblock main %}
