{% extends 'base.html' %}

{% block title %}
Organizator
{% endblock %}

{% block main %}
<div class="info-box">
    <i class="icon-adult"></i>
    <p>{{ object.name }} {{ object.surname }}</p>
    {% if object.id_tournament %}
        <a href="/tournament{{ object.id_tournament }}/teams"><button class="info-button">Teams</button></a>
        <a href="/tournament{{ object.id_tournament }}/petitions"><button class="info-button">Requests</button></a>
    {% endif %}
    <a href="./update"><button class="info-button"> Account</button></a> 
    <a href="delete/"><button class="info-button">Delete account</button></a>
    {% if object.id_tournament %}
        <a href="/tournament{{ object.id_tournament }}"><button class="info-button">Tournament</button></a>
    {% else %}
        <a href="/tournament_create"><button class="info-button">Create Tournament</button></a>
    {% endif %}
</div>
{% endblock %}
