{% extends 'base.html' %}

{% block title %}
Petitions List
{% endblock %}

{% block main %}
    <h3>These teams are waiting for your response to join the {{object.name}}</h3><br><br>
    {% for slot in object_list %}
    <a href="/team{{slot.id_team}}/players/">
        <p>- {{ slot.name }}</p>
    </a>
    <a href="/update_registration{{slot.id_team}}"><button>Accept</button></a>
    <a href="/delete_registration{{slot.id_team}}"><button>Deny</button></a>
    <br><br>

    {% endfor %}
{% endblock %}