{% extends 'base.html' %}

{% block title %}
Tournament
{% endblock %}

{% block main %}

<h1>Tournament: {{ object.name }}</h1>

{% if manager %}
{% if manager.id_team and not team.id_tournament %}
<a href="team_registration/"><button>Register team</button></a>
{% elif help == "create-team" %}
<p>You must create your team to register to a tournament</p>
{% elif help %}
<p>You are registered to this tournament</p>
{% else %}
<p>You are registered to the other tournament</p>
{% endif %}
{% endif %}

<a href="teams/"><button>Teams list</button></a>
<a href="matches/"><button>Match List</button></a>
{% if organizator.name %}
    <a href="match_create/"><button>Match Create</button></a>
{% endif %}

{% endblock %}
