{% extends 'base.html' %}

{% block title %}
Tournament List
{% endblock %}

{% block main %}
<h1>Tournament List</h1>
{% for slot in object_list %}
<a href="/tournament{{ slot.id_tournament }}">
    <div class="list-element">
        {{ slot.name }}
    </div>
</a>
{% endfor %}

{% endblock %}
