{% extends 'base.html' %}

{% block title %}
Match
{% endblock %}

{% block main %}
<div class="list-element">
    <p>{{ objects.id_team1 }}</p> 
    <p>vs</p> 
    <p>{{ objects.id_team2 }}</p>
</div>
<a href="stats/"><button>Show Stats</button></a>
{% if organizator == idTournament%}
<a href="stats_create/"><button>Add Stats</button></a>
{% endif %}
{% endblock %}
