{% extends 'base.html' %}

{% block title %}
Matches
{% endblock %}

{% block main %}
<div class="list">
    {% for slot in objects_list %}
    <a href="../match{{ slot.id_match }}">
        <div class="list-element">
            <p>{{ slot.id_team1 }}</p> 
            <p>vs</p> 
            <p>{{ slot.id_team2 }}</p>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
