{% extends "base.html" %}

{% block title %}
Stats Create
{% endblock %}

{% block main %}
<h1>{{ teams.id_team1 }} vs {{ teams.id_team2 }}</h1>
<div class="box">
    {% for slot in objects_list %}
    <div class="info-box">
        <p>Goals: {{ slot.goals }}</p>
        <p>Strikes: {{ slot.strikes }}</p>
        <p>Passes: {{ slot.passes }}</p>
        <p>Fouls: {{ slot.fouls }}</p>
        <p>Ball Position: {{ slot.ball_position }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
