{% extends "base.html" %}

{% block title %}
Stats Create
{% endblock %}

{% block main %}
{% if organizator == idTournament%}
<form method="POST" id="stats"> {% csrf_token %}
    <h1>Create Stats</h1>
    <div class="edit-box">
        <h2>{{ objects.id_team1 }}</h2>
        {% for field in form1 %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
        {% endfor %}
    </div>
    <div class="edit-box">
        <h2>{{ objects.id_team2 }}</h2>
        {% for field in form2 %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
        {% endfor %}
    </div>
</form>

<button class="stats-button" type="submit" form="stats">Save</button>
{% endif %}

{% endblock %}
