{% extends 'base.html' %}

{% block title %}
Players
{% endblock %}

{% block content %}
Player list - Kaszalot Sosnowiec
{% endblock %}

{% block main %}
<div class="players-list">
    {% for slot in object_list %}
    <a href="./{{ slot.id_player }}">
        <div class="slot">
            <i class="icon-adult"></i>
            <p>{{ slot.name }} {{ slot.surname }}</p>
            <p>Position: {{ slot.position }}</p>
            <p>Overall: {{ slot.overall }}</p>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}

<!-- <div class="wrapper">
    <div class="players-list">
        {% for slot in object_list %}
        <a href="./{{ slot.id_player }}">
            <div class="slot">
                <p><b>Name:</b> {{ slot.name }}</p>
                <p><b>Surname:</b> {{ slot.surname }}</p>
                <p><b>Position:</b> {{ slot.position }}</p>
                <p><b>Overall:</b> {{ slot.overall }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div> -->