{% extends 'base.html' %}

{% block title %}
Player Detail {{ object.name }} {{ object.surname }}
{% endblock %}

{% block content %}
Player Info
{% endblock %}

{% block main %}

<div class="wrapper-player-info">
    <div class="player-info">
        <p><b>Name</b> {{ object.name }}</p>
        <p><b>Surname</b> {{ object.surname }}</p>
        <p><b>Height</b> {{ object.height }}</p>
        <p><b>Weight</b> {{ object.weight }}</p>
        <p><b>Position</b> {{ object.position }}</p>
        <p><b>Overall</b> {{ object.overall }}</p>
        <p><b>Better_foot</b> {{ object.better_foot }}</p>
    </div>

    <div class="button-box">
        <i class="icon-adult"></i>
        <p>{{ object.name }} {{ object.surname }}</p>
        <a href="./update" class="player-info-button">Edit</a>
        <a href="#" class="player-info-button">Delete</a>
        <a href="../" class="player-info-button">Back</a>
    </div>
</div>  

{% endblock main %}