{% extends 'base.html' %}

{% block title %}
Player Update {{ object.name }} {{ object.surname }}
{% endblock %}

{% block main %}    
<form method="POST"> {% csrf_token %}
    <div class="wrapper-player-info">
        <div class="player-edit">
            <p><b><label for="name">Name</label></b> {{ form.name }}</p>
            <p><b><label for="surname">Surname</label></b> {{ form.surname }}</p>
            <p><b><label for="height">Height</label></b> {{ form.height }}</p>
            <p><b><label for="weight">Weight</label></b> {{ form.weight }}</p>
            <p><b><label for="position">Position</label></b> {{ form.position }}</p>
            <p><b><label for="overall">Overall</label></b> {{ form.overall }}</p>
            <p><b><label for="better_foot">Better_foot</label></b> {{ form.better_foot }}</p>
        </div>

        <div class="button-box">
            <i class="icon-adult"></i>
            <p>{{ object.name }} {{ object.surname }}</p>
            <input class="player-info-button" type="submit" value="Save">
            <a href="#" class="player-info-button">Delete</a>
            <a href="./../" class="player-info-button" id="back">Back</a>
        </div>
    </div>  
</form>


{% endblock main %}

<!-- <h1>{{ object.name }} {{ object.surname }}</h1>
    <div class="form">
        <form method="POST"> {% csrf_token %}
            <div class="form-line">{{ form.as_p }}</div>
            <input class="form-submit-button" type="submit" value="Save">
            <a href="../"><div class="back-button">Back</div></a>
        </form>
    </div> -->