{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/base.css' %}">
    <link rel="stylesheet" href="{% static 'pages/fontello/css/fontello.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

<nav>
    <a href="/" id="nav-logo">Games Of Football</a>
    <div id="nav-ctx">
        <a href="/tournamentlist">Tournament</a>
        {% if user.is_authenticated %}
            <a href="/panel">User Panel</a>
            <a href="{% url 'logout' %}">Logout<a>
        {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Sign up</a>
        {% endif %}
        <a href="javascript:void(0);" class="icon" onclick="showNav()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</nav>

<div class="content">
    <main>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% block main %}
        
        {% endblock %}
    </main>
</div>
<!-- <footer>
    <p>Copyright&copy 2020</p>
    <a href="#">Contact</a>
    <a href="#">About us</a>
</footer> -->
</body>

<script type="text/javascript" src="{% static 'pages/index.js' %}"></script>

</html>