{% extends "base.html" %}

{% block title %}
Login Page
{% endblock %}


{% block main %}
<div class="auth-box">
    <form method="post" class="signup">
        {% csrf_token %}
        <h2>Log in</h2>

        {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            <!--{% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}-->
            {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        </p>
        {% endfor %}
        <input type="submit" value="Log in"/>
    </form>
</div>

{% endblock %}

<!--{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log In</legend>
            {{form.as_p}}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Login</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need an Account?<a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
        </small>
    </div>
</div>
{% endblock content %}
