{% extends "base.html" %}

{% block title %}
Logout Page
{% endblock %}


{% block main %}
    <p>You have beed logged out</p>
    <a href="{% url 'login' %}"><button>Log in</button></a>
{% endblock %}
