{% extends 'base.html' %}

{% block title %}
Team List
{% endblock %}

{% block main %}
<h2>{{object.name}}</h2><br><br>

<a href="players/">
    <p>Players</p><br>
</a>
<a href="players/">
    <p>Add Player</p>
</a>

{% endblock %}
