{% extends 'base.html' %}

{% block title %}
Team Update
{% endblock %}

{% block main %}
<p>Team name: {{ object.name }}</p><br>
<p>Tactics: {{ tactic }}</p><br>
<a href=""><p>Add Player</p></a><br>
<a href="players/"><p>Players</p></a>
{% endblock %}
