{% extends 'base.html' %}

{% block title %}
Create Team
{% endblock %}

{% block main %}
<div class="auth-box">
    <form method="POST" class="signup">
        {% csrf_token %}
        <h2>Create Team</h2>
        {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        </p>
        {% endfor %}

        <input type="submit" value="Save">
    </form>
</div>
{% endblock %}