{% extends 'base.html' %}

{% block title %}
Team List
{% endblock %}

{% block main %}
    <h1>Tournament: {{ object.name }}</h1>  
    {% for slot in object_list %}
    <a href="../../team{{ slot.id_team }}/players">
        <div class="list-element">{{ slot.name }}</div>
    </a>
    {% endfor %}
{% endblock %}
