{% extends 'base.html' %}

{% block title %}
Team Tournament
{% endblock %}

{% block main %}
    {% if registration %}
        {% if registration.vote %}
            <p>Your team is playing in {{tournament.name}}</p>
            <a href="/tournament{{tournament.id_tournament}}"><button class="info-button">{{tournament.name}}</button></a>
        {% else %}
            <p>You sent a request to {{tournament.name}}</p>
        {% endif %}
    {% else %}
        <p>You must send a request to join the tournament</p>
        <p>---------------------------------------------------------------</p>
        <p>Go to Tournament section and choose a competition.</p>
    {% endif %}
{% endblock %}
