{% extends 'base.html' %}

{% block title %}
Player Detail {{ object.name }} {{ object.surname }}
{% endblock %}

{% block content %}
Player Info
{% endblock %}

{% block main %}

<div class="info-box">
    <i class="icon-adult"></i>
    <p>{{ object.name }} {{ object.surname }}</p>
    <a href="./update"><button>Edit</button></a>
    <a href="#"><button>Delete</button></a>
    <a href="../"><button>Back</button></a>
</div>
<div class="edit-box">
    <p><b>Name</b> {{ object.name }}</p>
    <p><b>Surname</b> {{ object.surname }}</p>
    <p><b>Height</b> {{ object.height }}</p>
    <p><b>Weight</b> {{ object.weight }}</p>
    <p><b>Position</b> {{ object.position }}</p>
    <p><b>Overall</b> {{ object.overall }}</p>
    <p><b>Better foot</b> {{ object.better_foot }}</p>
</div>

{% endblock main %}