{% extends 'base.html' %}

{% block title %}
Players
{% endblock %}

{% block main %}
<h2>{{object.name}}</h2><br><br>
<p>Manager: {{manager.name}} {{manager.surname}}</p>
<p>Number of players: {{object_list.count}}/30</p>
<div class="players-list">
    {% for slot in object_list %}
        {% if help %}
            <a href="../player{{ slot.id_player }}" class="slot">
                <i class="icon-adult"></i>
                <p>{{ slot.name }} {{ slot.surname }}</p>
                <p>Position: {{ slot.position }}</p>
                <p>Overall: {{ slot.overall }}</p>
            </a>
        {% else %}
            <a class="slot">
                <i class="icon-adult"></i>
                <p>{{ slot.name }} {{ slot.surname }}</p>
                <p>Position: {{ slot.position }}</p>
                <p>Overall: {{ slot.overall }}</p>
            </a>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
