{% extends 'base.html' %}

{% block title %}
Player Update {{ object.name }} {{ object.surname }}
{% endblock %}

{% block main %}    
<div class="info-box">
    <i class="icon-adult"></i>
    <p>{{ object.name }} {{ object.surname }}</p>
    <button type="submit" form="edit">Save</button>
    <a href="#"><button>Delete</button></a>
    <a href="./../"><button>Back</button></a>
</div>

<div class="edit-box">
    <form method="POST" id="edit"> {% csrf_token %}
        <p><b><label for="name">Name</label></b> {{ form.name }}</p>
        <p><b><label for="surname">Surname</label></b> {{ form.surname }}</p>
        <p><b><label for="height">Height</label></b> {{ form.height }}</p>
        <p><b><label for="weight">Weight</label></b> {{ form.weight }}</p>
        <p><b><label for="position">Position</label></b> {{ form.position }}</p>
        <p><b><label for="overall">Overall</label></b> {{ form.overall }}</p>
        <p><b><label for="better_foot">Better_foot</label></b> {{ form.better_foot }}</p>
    </form>
</div>

{% endblock main %}

<!-- <h1>{{ object.name }} {{ object.surname }}</h1>
    <div class="form">
        <form method="POST"> {% csrf_token %}
            <div class="form-line">{{ form.as_p }}</div>
            <input class="form-submit-button" type="submit" value="Save">
            <a href="../"><div class="back-button">Back</div></a>
        </form>
    </div> -->