{% extends 'base.html' %}
{% load static %}

{% block title %}
User Panel
{% endblock %}

{% block main %}
<h1>User Panel</h1>
<div class="panel-box">
        {% if objects_manager.id_manager or objects_promoter.id_promoter %}

        {% else %}
                <a href="/manager_create" class="panel-button"><img src="{% static 'pages/img/manager.jpg' %}" alt="Manager"><div class="img-text">Manager</div></a>
                <a href="/organizator_create" class="panel-button"><img src="{% static 'pages/img/organizator.jpg' %}" alt="Organizator"><div class="img-text">Organizator</div></a>
        {% endif %}
</div>
<div class="clear: both;"></div>
{% endblock %}