{% extends 'base.html' %}

{% block title %}
Manager
{% endblock %}

{% block main %}
<div class="info-box">
    <i class="icon-adult"></i>
    <p>{{ object.name }} {{ object.surname }}</p>

    {% if object.id_team %}
        <a href="/team{{ object.id_team }}"><button class="info-button">Team</button></a>
    {% else %}
        <a href="/team_create"><button class="info-button">Create Team</button></a>
    {% endif %}

    <a href="team_tournament/"><button class="info-button">Tournament</button></a>
    <a href="./update"><button class="info-button">Edit account</button></a>
    <a href="delete/"><button class="info-button">Delete account</button></a>
    <a href="../"><button class="info-button">Back</button></a>
</div>
{% endblock %}
