{% extends 'base.html' %}

{% block title %}
Manager Delete
{% endblock %}

{% block main %}
    <form action="." method='POST' id="delete">{% csrf_token %}
        <p>Do you want to delete your Manager Account {{ object.name }}?</p>
    </form>
    <button type="submit" form="delete">Yes</button><a href="../"><button>Cancel</button></a>
{% endblock %}