@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-size: 100%;
    background: #1a1a1d;
    width: 100%;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

input, select {
    margin: 5px;
    background: #4e4e50;
    border: 1px solid #aaa;
    border-radius: 2px;
    color: #fff;
    padding: 4px;
}

select {
    width: 150px;
}

.content {
    width: 90vw;
    background: #1a1a1d;
    margin: 0 auto;
    padding-top: 20px;
}

nav {
    background: #6f2232;
    width: 100%;
    display: block;
    position: relative;
    height: 60px;
    font-size: 18px;
    line-height: 60px;
}

nav a {
    margin-top: 20px;
    line-height: 20px;
    color: #ddd;
}

#nav-ctx {
    margin-right: 10px;
    float: right;
    position: relative;
    text-align: left;
}

#nav-ctx a {
    margin-right: 20px;
    display: inline;
}

#nav-logo {
    margin-left: 3vw;
    margin-right: -5px;
    text-align: right;
    position: relative;
    display: inline-block;
}

nav a:hover {
    color: #c3073f;
}

footer {
    background-color: rgb(20, 20, 20, 0.9);
    border-top: 1px solid rgb(20, 20, 20, 0.9);
    width: 100%;
    height: 30px;
    padding-top: 10px;
    bottom: 0;
    display: block;
    position: absolute;
    text-align: center;
}

footer a {
    margin: 0 10px;
    line-height: 20px;
    display: inline-block;
}

footer a:hover {
    color: #c3073f;
    cursor: pointer;
}

footer p {
    position: absolute;
    left: 15px;
    line-height: 20px;
    font-size: 10px;
}

button {
    margin: 5px;
    display: inline-block;
    position: relative;
    width: 120px;
    border: none;
    border-radius: 4px;
    background: #950740;
    color: #fff;
    font-size: 14px;
    line-height: 40px;
    cursor: pointer;
}

button:hover {
    background: #c3073f;
}

button.panel-button {
    margin: 5px 10px; 
}

button.info-button {
    margin: 6px 2px;
    min-width: 140px;
}

.info-box {
    display: block;
    position: relative;
    width: 300px;
    padding: 10px;
    text-align: center;
    float: left;
}

.info-box p {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}

.edit-box {
    display: inline-block;
    position: relative;
    max-width: 300px;
    margin-left: 40px;
    padding: 10px;
    text-align: left;
}

.edit-box p {
    margin-top: 10px;
    padding: 0 10px 10px 10px;
    border-bottom: 1px solid #4e4e50;
}

.edit-box p>b {
    display: inline-block;
    width: 100px;
}

.list-element {
    display: inline-block;
    min-width: 150px;
    padding: 10px;
    margin-top: 20px;
    margin-right: 20px;
    background: #4e4e50;
    border: 1px solid #5e5e60;
    border-radius: 4px;
    text-align: center;
}

.list-element:hover {
    filter: brightness(90%);
}

.panel-box {
    width: 70%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.panel-box .panel-button {
    display: block;
    position: relative;
    height: 600px;
    width: 400px;
    overflow: hidden;
    float: left;
}

.panel-box .panel-button:last-child {
    position: relative;
    display: block;
    float: right;
}

.panel-box img {
    height: 600px;
    width: 400px;
    transition: filter 0.2s ease-in-out;
}

.img-text {
    position: absolute;
    width: 400px;
    line-height: 600px;
    font-size: 40px;
    background: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0);
    top: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    text-align: center;
    opacity: 0;
}

.img-text:hover {
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
    color: rgba(255, 255, 255, 1);
}

.slot {
    display: inline-block;
    position: relative;
    min-width: 140px;
    min-height: 20px;
    margin-top: 40px;
    margin-left: 80px;
    /* background-color: rgba(220, 220, 220, 0.9); */
    color: #fff;
    text-align: center;
}

.slot:hover {
    text-shadow: 0 0 3px #c3073f, 0 0 5px #4e4e50;
}

#nav-ctx {
    overflow: hidden;
}

#nav-ctx .icon {
    display: none;
}

button.stats-button {
    margin-left: 200px;
    margin-top: 20px;
}

.box {
    margin: 0 auto;
    display: block;
    position: relative;
    max-width: 700px;
}

@media screen and (max-width: 600px) {
    #nav-ctx a {
        display: none;
    }

    #nav-ctx a.icon {
        float: right;
        display: block;
    }

    #nav-ctx.responsive {
        background: #6f2232;
        position: relative;
    }

    #nav-ctx.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    #nav-ctx.responsive a {
        float: none;
        display: block;
        position: relative;
        text-align: left;
        right: 20;
        padding: 0 5px;
    }
}